{% from 'macros.html' import macro_form %}
{% from 'macros.html' import plot_viewer %}
{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-white" id="project-show-jumbo">
    <div class="container text-backdrop-dark">
        <div class="row pr-4 ">
            <div class="col">

                <h1 class="display-4">{{project.name}}</h1>
                <p class="lead">{% if (project.description != '' and project.description != '')  %}
                    {{project.description}}
                    {% else %}
                    <i>No Description</i>
                    {% endif %} </p>
            </div>
            <div class="col-2 align-self-center">
                <div class="row justify-content-end">
                        <form method="GET" action="{{url_for('edit_project', project_id=project.id)}}"><button type="submit" class="btn btn-info mb-3">Edit</button></form>
                </div>
                <div class="row justify-content-end">
                        <form method="POST" action="{{url_for('delete_project', project_id=project.id)}}"><button type="submit" class="btn btn-danger">Delete</button></form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Connections -->
<div class="container">
    <h2 class="text-center">Connections</h2>
    <div class="row">
        <p class="lead">Add and Remove connections, or easily visit other created content by clicking on the links of connected content.</p>
        <div class="col-md-6 col-12 border-right">
            <h5>Connected Plots</h5>
                <ul id="project-list">
                {% for plot in project.plots %}
                    <li data-plot-id={{plot.id}} data-project-id={{project.id}}><a href="{{url_for('show_plot', plot_id=plot.id)}}">{{plot.name}}</a><button class="btn btn-sm text-danger proj-rmv-plot-btn"> <i class="fas fa-times"></i></button></li>
                {% else %}
                    <li><p>No plots connected yet.</p></li>
                {% endfor %}
                </ul>
            

        </div>   
        <div class="col-md-6 col-12">
            <h5>Connected Plant Lists</h5>
                <ul id="plantlist-list">
                {% for plantlist in project.plantlists %}
                    <li data-plantlist-id={{plantlist.id}} data-project-id={{project.id}}><a href="{{url_for('show_plantlist', plantlist_id=plantlist.id)}}">{{plantlist.name}}</a><button class="btn btn-sm text-danger proj-rmv-plntlst-btn"> <i class="fas fa-times"></i></button></li>
                {% else %}
                    <li><p>No plant lists connected yet.</p></li>
                {% endfor %}
                </ul>
               
        </div>   
    </div>
    <!-- Show Add Form Buttons -->
    <div class="row align-items-bottom">
        <div class="col-6 ">
        <button id="toggle-plots-btn" type="button" data-toggle="modal" data-target="#plot-modal" class="btn btn-block btn-outline-info ">Show/Hide Your Other Plots <i class="fas fa-caret-down"></i></button>
    </div>
    <div class="col-6">
        <button id="toggle-plantlists-btn" type="button" data-toggle="modal" data-target="#plantlist-modal" class="btn btn-block btn-outline-info">Show/Hide Your Other Plant Lists<i class="fas fa-caret-down"></i></button>
    </div>
    </div>
</div>

<!-- Add Forms -->
<div class="container" data-project-id="{{project.id}}">
    <div class="row">
        <!-- Plots -->
        <div class="col-6">
            <form class="mt-4" id="add-plots-form" style="display: none">
                {{macro_form(form_plot)}}
                <div class="row">
                    <div class="col">
                        <button  class="btn btn-block btn-info">Add Selected Plots to Project</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Plant lists -->
        <div class="col-6">
            <form class="mt-4" id="add-plantlists-form" style="display: none;">
                {{macro_form(form_plantlist)}}
                <button class="btn btn-block btn-info">Add Selected Plant Lists to Project</button>
            </form>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <h2 class="text-center">Project Components</h2>
    <h3>Plots</h3>
    {% for plot in project.plots %}
        <div data-plot-id="{{plot.id}}" class="container components{% if loop.index0 % 2 == 0 %} even {% endif %}">
            <div class="row border-top pt-2">
                <div class="col-2">
                    <h4>{{plot.name|title}}</h4>
                </div>
                <div class="col border-left pt-2">
                    <h6>Description</h6>
                    <p>{{plot.description}}</p>
                </div>
                <div class="col border-left pt-2">
                    <h6>Dimensions</h6>
                    <p><b>Width: </b>{{plot.width}} feet</p>
                    <p><b>Length: </b>{{plot.length}} feet</p>
                </div>
            </div>
            {% for plantlist in plot.plantlists %}
            <div class="row ">
                <div class="col-1">
                </div>
                <div class="col-2 pt-2 border-top">
                    <h5>{{plantlist.name|title}}</h5>
                </div>
                <div class="col pt-2 border-top border-left">
                    <h6>Description</h6>
                    <p>{{plantlist.description}}</p>
                </div>
            </div>
                {% if plantlist.plants %}
                <div class="row ">
                    <div class="col-2">
                    </div>
                    <div class="col pt-2 border-top">
                    <h6>Plants</h6>
                    <ul>
                    {% for plant in plantlist.plants %}
                        <li>{{plant.common_name|title}}</li>
                    {% endfor %}
                    </ul>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <hr>
    <h3 class="mt-3">Plant Lists</h3>
    {% for plantlist in project.plantlists %}
    <div data-plantlist-id="{{plantlist.id}}" class="container components{% if loop.index0 % 2 == 0 %} even {% endif %}">
        <div class="row ">
            <div class="col-1">
            </div>
            <div class="col-2 pt-2 border-top">
                <h5>{{plantlist.name|title}}</h5>
            </div>
            <div class="col pt-2 border-top border-left">
                <h6>Description</h6>
                <p>{{plantlist.description}}</p>
            </div>
        </div>
            {% if plantlist.plants %}
            <div class="row ">
                <div class="col-2">
                </div>
                <div class="col pt-2 border-top">
                <h6>Plants</h6>
                <ul>
                {% for plant in plantlist.plants %}
                    <li>{{plant.common_name|title}}</li>
                {% endfor %}
                </ul>
                </div>
            </div>
            {% endif %}


    </div>
    {% endfor %}
</div>


{% endblock %}
{% block code %}
<script src="/static/connection.js"></script>
<script src="/static/showProjectSubform.js"></script>
<script src="/static/query.js"></script>
{% endblock %}
