{% extends 'base.html' %}
{% block content %}
<!-- About -->
<div class="container my-4">
    <div class="row">
        <h1 class="display-4">What is Plant Systems?</h1>
        <hr>
        <p class="lead">At its core Plant Systems is a tool for homesteaders and gardeners that allows them to search and filter for plants and design plots. It uses the combined sources found in pubically available data from the open source <a class="text-primary" href="https://trefle.io/">Trefle API</a> to provide information about plant characteristics, distribution, and growth specifications. Users can design and save projects around their plants, to help prepare them for their next planting endeavour, big or small.</p>
    </div>
    <div class="row">
        <h2>How does it work?</h2>
        <p class="lead">It is designed to provide more details about plants and their scientific explanation. For educational purposes, this website can give more hands-on activities to students. They can plan and design their unique plants according to their likes, styles, and needs.</p>
        <br>
        <p class="lead">Plant lists are the base component of any project, and are how you save plants and create symbols to represent those plants. You can connect plant lists to plots and projects to help organize your ideas, and easily access different components of your project.</p>
    </div>
    <div class="row">
        <h2>What is next?</h2>
        <p class="lead">Plant Systems is in its infancy. We have high hopes to create a fully integrated system for planning and managing planting plots!</p>
    </div>
    <div class="row">
        <p class="lead">A few features in the works:</p>
        <ul class="list-group">
            <li class="list-group-item">Expand the available data with additional sources, with a focus on agricultural data (ideal growth conditions, planting times, harvesting times, etc.).</li>
            <li class="list-group-item">Ability to physically organize plots within a project view, to mimic plots in a yard.</li>
            <li class="list-group-item">Sortable tables.</li>
            <li class="list-group-item">Improved plant symbol selection.</li>
            <li class="list-group-item">Sorting options for plant searches.</li>
            <li class="list-group-item">Customized planting reports based on plants within a project.</li>
            <li class="list-group-item">Easier viewing and sorting of plant specifications within plant lists.</li>
            <li class="list-group-item">Connection with Plant Identification APIs.</li>
            <li class="list-group-item">Information on plant healthcare, diseases, and pests.</li>         
            <li class="list-group-item">Share saved projects, plots, and plant lists and collaborate with others.</li>
            <li class="list-group-item">Integration with 'smart farm' APIs, such as irrigation timers.</li>
        </ul>
        <hr>
    </div>
</div>
{% endblock %}