{% extends 'base.html' %}
{% block content %}

<div id=home-main-cont class="container-fluid p-0">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <div id="home-jumbo" class="jumbotron jumbotron-fluid text-white">
                <div class="container text-backdrop-dark text-center">
                    <h1 class="display-4">Welcome to Plant Systems</h1>
                    <p class="lead font-weight-bold"><a href="{{url_for('signup')}}">Signup</a> or <a href="{{url_for('login')}}">login</a> to start planning your garden plots, or jump right into <a href="{{url_for('plants_search_table')}}">browsing plants</a> and signup later!</p>
                    <hr class="my-4" style="background-color: white;">
                    <p class="lead font-weight-bold">For a brief overview of how this site works, click below.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{url_for('about')}}" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>
{% endblock %}