{% from 'macros.html' import macro_form %}
{% from 'macros.html' import img_modal %}
{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-white" id="plantlist-show-jumbo">
    <div class="container text-backdrop-dark">
        <div class="row pr-4 ">
            <div class="col">

                <h1 class="display-4">{{plantlist.name}}</h1>
                <p class="lead">{% if (plantlist.description != '' and plantlist.description != '') %}
                    {{plantlist.description}}
                    {% else %}
                    <i>No Description</i>
                    {% endif %} </p>
            </div>
            <div class="col-2 align-self-center">
                <div class="row justify-content-end">
                        <form method="GET" action="{{url_for('edit_plantlist' ,plantlist_id=plantlist.id)}}"><button type="submit" class="btn btn-info mb-3">Edit</button></form>
                </div>
                <div class="row justify-content-end">
                        <form method="POST" action="{{url_for('delete_plantlist' ,plantlist_id=plantlist.id)}}"><button type="submit" class="btn btn-danger">Delete</button></form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Connections -->
<div class="container">
    <h2 class="text-center">Connections</h2>
    <div class="row">
        <p class="lead">Add and Remove connections, or easily visit other created content by clicking on the links of connected content.</p>
        <div class="col-md-6 col-12 border-right">
            <h5>Connected Projects</h5>
                <ul id="project-list">
                {% for project in plantlist.projects %}
                    <li data-plantlist-id={{plantlist.id}} data-project-id={{project.id}}><a href="{{url_for('show_project', project_id=project.id)}}">{{project.name}}</a><button class="btn btn-sm text-danger proj-rmv-plntlst-btn"> <i class="fas fa-times"></i></button></li>
                {% else %}
                    <li><p>No projects connected yet.</p></li>
                {% endfor %}
                </ul>
            

        </div>   
        <div class="col-md-6 col-12">
            <h5>Connected Plots</h5>
                <ul id="plot-list">
                {% for plot in plantlist.plots %}
                    <li data-plot-id={{plot.id}} data-plantlist-id={{plantlist.id}}><a href="{{url_for('show_plot', plot_id=plot.id)}}">{{plot.name}}</a><button class="btn btn-sm text-danger plot-rmv-plntlst-btn"> <i class="fas fa-times"></i></button></li>
                {% else %}
                    <li><p>No plots connected yet.</p></li>
                {% endfor %}
                </ul>
               
        </div>   
    </div>
    <!-- Show Form Buttons -->
    <div class="row align-items-bottom">
        <div class="col-6 ">
        <button id="toggle-projects-btn" type="button" data-toggle="modal" data-target="#project-modal" class="btn btn-block btn-outline-info ">Show/Hide Your Other Projects <i class="fas fa-caret-down"></i></button>
    </div>
    <div class="col-6">
        <button id="toggle-plots-btn" type="button" data-toggle="modal" data-target="#plot-modal" class="btn btn-block btn-outline-info">Show/Hide Your Other Plots <i class="fas fa-caret-down"></i></button>
    </div>
    </div>
</div>
<!-- Add Forms -->
<div class="container" data-plantlist-id="{{plantlist.id}}">
    <div class="row">
        <!-- Projects -->
        <div class="col-6">
            <form class="mt-4" id="add-projects-form" style="display: none;">
                {{macro_form(form_project)}}
                <div class="row">

                    <div class="col">
                        <button  class="btn btn-block btn-info">Add Selected Projects to Plant List</button>
                    </div>
                </div>
            </form>
        </div>
         <!-- Plots -->
         <div class="col-6">
            <form class="mt-4" id="add-plots-form" style="display: none;">
                {{macro_form(form_plot)}}
                <button class="btn btn-block btn-info">Add Selected Plots to Plant List</button>
            </form>
        </div>
    </div>
</div>
<hr>

<!-- Plant List -->
<div class="container mt-5">
<h2 class="text-center">Plants</h2>
<p class="lead">View the plants that have added to this list, and assign them a unique symbol that will be used to mark them on plots during plot design.</p>
<div class="table-responsive">
<table class="table my-3 table-hover">
    <thead>
        <tr>
            <th scope="col">Common Name</th>
            <th scope="col">Scientific Name</th>
            <th scope="col">Family</th>
            <th scope="col">Image</th>
            <th scope="col">Custom Symbol</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody ">

        {% for plant in plantlist.plants %}
        <tr>
            <td>
            {{plant['common_name']}}            
            </td>
            <td><a href="{{url_for('plant_profile', plant_slug=plant['slug'])}}"><i>{{plant['scientific_name']}}</i></a></td>
            <td>{{plant['family']}}</td>
            <td>
            <!-- Thumbnail triggers img_modal -->
            <a type="button" data-toggle="modal" data-target="#{{plant['slug']}}-modal">
                <img id="table-plant-img" class="img-thumbnail" src="{% if plant['image_url'] == None %}/static/images/default-pic.png{% else %}{{plant['image_url']}}{% endif %}" alt="{{plant['common_name']}} image">
            </a>
            {{img_modal(plant)}}
            </td>
            <td>
                <div class="containter custom-symbol-cont" data-plant-id="{{plant.id}}" data-plantlist-id="{{plantlist.id}}">
                    {% if plant_symbol_map[plant.id] %}
                    <div id="symbol-display" class="row justify-content-center fa-4x">
                    {{plant_symbol_map[plant.id].symbol |safe}}

                       
    
                    </div>
                    <div id="change-symbol-btn" class="row justify-content-center">
                        <h5><span class="badge badge-info edit-symbol open-symbol-modal" style="cursor: pointer;" data-toggle="modal" data-target="#symbolModal">Edit</span></h5>


                    </div>


                    {% else %}
                    <div id="symbol-display" class="row justify-content-center fa-4x">

                    </div>
                    <div id="change-symbol-btn" class="row justify-content-center">
                        <button class="btn btn-success add-symbol open-symbol-modal"  data-toggle="modal" data-target="#symbolModal">Add symbol</button>    
                    </div>
                    {% endif %}
                </div>

            </td>
            <td class="text-center align-middle">
                <form action="{{url_for('plantlist_remove_plant',plantlist_id=plantlist.id, plant_id=plant.id)}}" method="POST">
                    <button class="btn btn-danger" type="submit"><i class="fas fa-times"></i></button>
                </form>
            </td>
            
        </tr>
        
        {% endfor %}
    </tbody>
    </table>
</div>
    {% if not plantlist.plants %}
<h6 class="text-center">No plants added yet. Add plants by searching <a href="{{url_for('plants_search_table')}}">here</a>, selecting a plant, and adding from its profile page.</h5>    {% endif %}


</div>


<!-- Modal -->
<div class="modal fade" id="symbolModal" tabindex="-1" role="dialog" aria-labelledby="symbolModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="symbolModalLabel">Choose a symbol, and pick a color for it.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-0">
        <div class="row plant-symbol">
            <div class="col">
                <i class="symbol fas fa-carrot fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-pepper-hot fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-lemon fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol far fa-lemon fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-leaf fa-2x"></i>
            </div>
        </div>
        <div class="row plant-symbol">
            <div class="col">
                <i class="symbol fas fa-apple-alt fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-seedling fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-spa fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fab fa-canadian-maple-leaf fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-tree fa-2x"></i>
            </div>
        </div>
        <div class="row plant-symbol">
            <div class="col">
                <i class="symbol fab fa-pagelines fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-holly-berry fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-cannabis fa-2x"></i>
            </div>
            <div class="col">
                <i class="symbol fas fa-fan fa-2x"></i>
            </div>
            <div class="col">
                
            </div>
        </div>
        <hr>
        <div class="container d-flex justify-content-center fa-4x"  id="symbol-preview" style="color:#228B22;">
            <i class="symbol fas fa-seedling" ></i>
            </div>
        <hr>
    </div>
    <div class="row px-4 pb-2 d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input class="justify" type="color" name="symbol-color-input" id="symbol-color-input" value="#228B22">
            <button id="create-symbol-btn" type="button" data-dismiss="modal" class="btn btn-primary">Create</button>
    </div>
    </div>
</div>
</div>


{% endblock %}
{% block code %}
<script src="/static/connection.js"></script>
<script src="/static/showPlantlistSubform.js"></script>
<script src="/static/plantSymbol.js"></script>

{% endblock %}
