{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-6 m-4">
      <h2 class="join-message display-4">Edit Your Profile</h2>
      <p class="lead">You may edit your username, e-mail, or profile picture (Profile Image URL). Any field left blank will not be changed.</p>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <hr>
        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="edit-btn-area d-flex justify-content-between mt-3">
          <a class="btn btn-warning text-white" href="{{url_for('user_profile', user_id=user.id)}}" class=btn btn-outline-secondary">Cancel</a>
          <button class="btn btn-success">Confirm Edits</button>

        </div>
      </form>
    </div>
  </div>

{% endblock %}